@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Commerce - Microservice Architecture .NET Core
    </h1>
    <p>
        Microservices Oriented Architecture Using .NET Core
    </p>

    <hr />

    <div>
        <h3><b>@User.Identity.Name</b>, welcome back.</h3>
    </div>
</div>
